<%= image_tag('corner1-768x1084 top left.png', size:"250x250") %>
<div class="corner1">
  <%= image_tag('corner1-768x1084 top right.png', size:"250x250") %>
</div>

<div class="henshu">
  <h1>Edit</h1><br>
  <%= form_for @post do |f| %>
      <b><%= f.label :title %>:<b><br>
      <%= f.text_field :title, :size => 30 %><br><br>

      <%= f.label :body %>:<br>
      <%= f.text_field :body, :size => 100 %><br><br>
      <%= f.submit "編集する" %>
    <% end %>
</div>

  <div class="corner2">
  <%= image_tag('corner1-768x1084.png', size:"250x250") %>
</div>

<div class="corner3">
  <%= image_tag('corner1-768x1084 right.png', size:"250x250") %>
</div>