<%= image_tag('corner1-768x1084 top left.png', size:"250x250") %>
<div class="corner1">
  <%= image_tag('corner1-768x1084 top right.png', size:"250x250") %>
</div>

<div class="detail">
  <h1>Details</h1><br>
  <div class="e">
    <%= image_tag @post.image_url, size: "390x430" if @post.image? %>
  </div>
<div class="frame">
  <%= image_tag('Artframe3-700x749.png', size:"520x550") %>
</div>

  <div class="shosai">
    <p><%= @post.title %></p>
      <div class="hato">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(@post) %>
            <%= button_to post_like_path(@post), method: :delete do %>
              <i class="fas fa-heart size"></i><%= @post.likes.count %>
            <% end %>
          <% else %>
            <%= button_to post_likes_path(@post), method: :post do %>
              <i class="far fa-heart size"></i><%= @post.likes.count %>
            <% end %>
          <% end %>
        <% else %>
        <i class="far fa-heart"></i><%= @post.likes.count %>
        <% end %><br><br>
      </div>
    <p><%= @post.body %></p><br>

    
  </div>

  
  <div class="comment">
    <h1><p>Comments</p></h1><br>
    <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %><br>
    <% @comments.each do |c| %>
      <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
      </div>
        <br>
    <% end %>
  </div>
</div>

<div class="hana">
  <%= image_tag('20240308-9.png', size:"350x250") %>
</div>

<div class="corner2">
  <%= image_tag('corner1-768x1084.png', size:"250x250") %>
</div>

<div class="corner3">
  <%= image_tag('corner1-768x1084 right.png', size:"250x250") %>
</div>